<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Identify your Disc Golf Discs</div>
        <p>
            Upload Images of any of the following discs: <br />
            Discmania P2, <br />
			 Discraft Buzzz, <br />
			 Dynamic Discs Escape, <br />
			 Dynamic Discs Judge, <br />
			 Dynamic Discs Truth, <br />
			 Gateway Wizard, <br />
			 Innova Aviar, <br />
			 Innova Beast, <br />
			 Innova Boss, <br />
			 Innova Destroyer, <br />
			 Innova Firebird, <br />
			 Innova Katana, <br />
			 Innova Leopard, <br />
			 Innova Mako3, <br />
			 Innova Roc, <br />
			 Innova Roc3, <br />
			 Innova Shark, <br />
			 Innova Shryke, <br />
			 Innova Sidewinder, <br />
			 Innova Teebird, <br />
			 Innova Tern, <br />
			 Innova Thunderbird, <br />
			 Innova Valkyrie, <br />
			 Innova Wraith, <br />
			 Westside Harp 
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Disc Golf Disc Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Identify Disc Name</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
