<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>


<!--  <img src="2019-02-07.png" alt="Mountains" style="width:100%";>
 -->
<div>
    <div class='center'>
   	<div class='title'>Deep Learning Disc Golf Classifier</div> 

<!--         <div class='title'>Disc Golf Disc Image Classifier</div> 
 -->
         <div class="row">
         <div class="column">
          <img src="https://www.dropbox.com/s/hnc3v1djy9zqcde/plastics.jpg?dl=1" alt="Mountains" style="width:100%";>
		  </div>
		  <div class="column">
		    <img src="https://www.dropbox.com/s/utvec5yqpuom0vc/brain.png?dl=1" alt="Forest" style="width:100%";>
		  </div>
		  	<div class="column">
		    <img src="https://www.dropbox.com/s/t2lry7dxaiv4qzm/kaohsiung.jpg?dl=1" alt="Kaohsiung Disc Golf Basket" style="width:100%";>
		  </div>

		</div> 



        

         

        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>

        <h2>Upload any of the following 75 Discs and/or 30 Plastic Types from 9 Manufacturers </h2>

        <table>
          <tr>
            <th>Manufacturer or Brand</th>
            <th>Disc Names</th>
            <th>Plastic Types</th>
          </tr>
          <tr>
            <td>Axiom</td>
            <td>Envy</td>
            <td>Unknown</td>
          </tr>
          <tr>
            <td>Discmania</td>
            <td>FD, P2</td>
            <td>Unknown Plastic</td>
          </tr>
          <tr>
            <td>Discraft</td>
            <td>Avenger SS, Buzzz, Heat, Nuke, Undertaker</td>
          </tr>
          <tr>
            <td>Dynamic Discs</td>
            <td> Convict, Defender, Deputy, Emac Truth, Enforcer, Escape, Felon, Freedom, Judge, Justice, Maverick, Renegade, Sheriff, Trespass, Truth, Verdict, Warden, Witness</td>
          </tr>
          <tr>
            <td>Gateway (1)</td>
            <td>Wizard</td>
          </tr>
          <tr>
            <td>Innova</td> 
            <td>Archangel, Atlas, Aviar, Aviar3, Beast, Boss, Colossus, Colt, Daedalus, Dart, Destroyer, Dragon, Eagle, Firebird, Gator, Katana, Leopard, Leopard3, Mako3, Mamba, Nova, Orc, Rhyno, Roadrunner, Roc, Roc3, Shark, Shryke, Sidewinder, Stingray, TL, Teebird, Tern, Thunderbird, Valkyrie, Vulcan, Wraith</td>
          </tr>
          <tr>
            <td>Westside (1)</td>
            <td>Harp</td>
          </tr>
        </table>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Disc Golf Disc Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Identify Disc Type</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
                 <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Identify Plastic Type</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
