<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Disc Golf Disc Image Classifier</div>

         <img src="kaohsiung.jpg" alt="kaohsiung Disc Golf Basket" style="width:500px;height:500px;">

        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>

        <h2>Upload any of the following 25 Disc Brands from 6 Manufacturers </h2>

        <table>
          <tr>
            <th>Manufacturer</th>
            <th>Brand</th>
          </tr>
          <tr>
            <td>Discmania (1)</td>
            <td>P2</td>
          </tr>
          <tr>
            <td>Discraft (1)</td>
            <td>Buzzz</td>
          </tr>
          <tr>
            <td>Dynamic Discs (3)</td>
            <td> Escape, Judge, Truth</td>
          </tr>
          <tr>
            <td>Gateway (1)</td>
            <td>Wizard</td>
          </tr>
          <tr>
            <td>Innova (18)</td>
            <td>Aviar, Beast, Boss, Destroyer, Firebird, Katana, Leopard, Mako3, Roc, Roc3, Shark, Shryke, Sidewinder, Teebird, Tern, Thunderbird, Valkyrie, Wraith</td>
          </tr>
          <tr>
            <td>Westside (1)</td>
            <td>Harp</td>
          </tr>
        </table>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Upload Disc Golf Disc Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Identify Disc Type</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
                 <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Identify Plastic Type</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
